  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

  html {
    height: 100%;
  }

  
  .wrapHome {
    height: 100%;
    position: absolute;
    margin-top: 8%;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
  }

  .wrapHome img{
    margin-bottom: 10%;
  }
  .home-slider-container {
    height: 500px;
    background: linear-gradient(#fff, #6F96D1);
  }

  .home-slider-container h3 {
    background-color: #fff;
    margin-top: 30%;
    width: 250px;
    height: 330px;
    border-radius: 20px;
    margin-bottom: 25%;
  }

  .slick-slide {
    transition: transform 0.5s ease;
  }

  .slick-slide:not(.slick-center) {
    transform: scale(0.8);
  }

  .slick-center {
    transform: scale(1);
  }

  .slick-prev,
  .slick-next {
    display: none !important;
  }


